<div class="mat-app-background">
  <mat-toolbar [color]="isLightThemeActive ? 'warn' : ''">
    <h1 id="title" routerLink="/">TASKTRACKER</h1>
  </mat-toolbar>
  <div class="main">
    <div *ngIf="!isLightThemeActive" class="slide-toggle"><mat-slide-toggle [(ngModel)]="isLightThemeActive" (change)="changeTheme($event.checked)">Dark mode</mat-slide-toggle></div>
    <div *ngIf="isLightThemeActive" class="slide-toggle"><mat-slide-toggle [(ngModel)]="isLightThemeActive" (change)="changeTheme($event.checked)">Light mode</mat-slide-toggle></div>
    <router-outlet></router-outlet>
  </div>
  <app-footer [isLightThemeActive]="isLightThemeActive"></app-footer>
</div>
